.Hero-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 50px; Adjust as needed */
  padding-top: 50px;
}
